


.l{
  font-family: 'Roboto', sans-serif;
  color: white;
  white-space: pre-wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;

  }

  .thomasin {
    width: 20px;
    height: 20px;
    display:block;
    float:left;
  }

a {
  color: inherit; 
  text-decoration: inherit;
}

.emoji {
    width: 80%;
    margin: 0 auto;

}

body {
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.play {
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    background-color: orange;
    font-size: 50px;
    color: white;
}
